[submodule ".vim/bundle/syntastic"]
	path = .vim/bundle/syntastic
	url = https://github.com/vim-syntastic/syntastic.git
[submodule ".vim/bundle/vim-puppet"]
	path = .vim/bundle/vim-puppet
	url = https://github.com/rodjek/vim-puppet.git
